body {
    background-color: rgb(230, 230, 237); 
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: var(--background);
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.bookContainer {
    margin: auto;
    justify-content: center;
    width: 100%;
}

.bookList {
    flex-wrap: wrap;
    margin: auto;
}

.book {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 200px;
    height: 150px;
    margin: 10px;
   
    background: -webkit-linear-gradient(#833ab4, #fcb045);
    
    font-size: 20px;
    text-decoration: none;
}

.hoverButton {
    width: 55px;
    height: 55px;
}

@media (hover: hover) {

    .hoverButton {
    width: 45px;
    height: 45px;

    fill: red;
    visibility: hidden;
    text-decoration: none;
    }
}

.button {
    cursor: pointer;
}

.icon {
    height: 25px;
    width: 25px;
}

.addNew {
    height: 40px;
    width: 40px;
    fill: red;
}

.content {
    margin: 20px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#heading {
    align-self: center;
    font-size: 40px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 45x;
    font-weight: 700;
}

p {
    align-self: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 100px;
    color: #833ab4;
    font-weight: 500;
    background-size: 100%;
    background-repeat: repeat;
}

@media (hover: hover) {

}


