.pagetext {
  border: none;
  width: 100%;
  text-align: center;
  pointer-events: all;
  background: transparent;
  cursor: move;
}

.imagesContainer {
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.imagesCol {
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.imagesCol:first-child {
  margin-right: calc(var(--pad) / 2);
}

.imagesCol:last-child {
  margin-left: calc(var(--pad) / 2);
}

.resizer {
  box-sizing: border-box;
  flex-grow: 0;
}

.imageContainer {
  flex-grow: 1;
  display: flex;
  box-sizing: border-box;
}

.imgBox {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.imageContainer:first-child {
  margin-bottom: calc(var(--pad) / 2);
}

.imageContainer:last-child {
  margin-top: calc(var(--pad) / 2);
}

.imageContainer {
  background-color: #eeeeee77;
}

.selectedImgBox {
  box-shadow: 0 0 0 2px white;
}

.imgBox:hover {

}