/*Styles tilhørende elementer som tilføjes til billedebogen*/

.pagetext {
  border: none;
  pointer-events: all;
  background: transparent;
  cursor: move;
  width: auto;
  display: inline-block;
}

.imagesContainer {
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.imagesCol {
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.imagesCol:first-child {
  margin-right: calc(var(--page-margins) / 2);
}

.imagesCol:last-child {
  margin-left: calc(var(--page-margins) / 2);
}

.resizer {
  box-sizing: border-box;
  flex-grow: 0;
}

.imageContainer {
  flex-grow: 1;
  display: flex;
  box-sizing: border-box;
}

.imgBox {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.imageContainer:first-child {
  margin-bottom: calc(var(--page-margins) / 2);
}

.imageContainer:last-child {
  margin-top: calc(var(--page-margins) / 2);
}

.imageContainer {
  background-color: #eeeeee77;
}

.selectedImgBox {
  box-shadow: inset 0 0 0 2px white,  0 3px 8px -2px #000000;
  z-index: 2;
}

.pagetext.selectedImgBox {
  outline: 5px auto -webkit-focus-ring-color;
  box-shadow: none;
  z-index: 2;
}