.onlyForPrint {
  display: none;
}

@media print {
  @page {
    margin: 0;
    size: 185mm 185mm;
  }

  html {
    -webkit-print-color-adjust: exact !important;
  }

  body {
    height: var(--numberOfPages);
  }

  .pagetext {
    font-family: var(--fontFamilyPrint) !important;
  }

  .resizer {
    display: none;
  }

  button {
    display: none;
  }

  .page:not(.onlyForPrint) {
    display: none;
  }

  .onlyForPrint {
    display: flex !important;
    page-break-after: always;
  }

  .page {
    height: 100% !important;
    width: 100% !important;
  }

  .pages {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .nav {
    display: none;
  }

  .pageInformation {
    display: none;
  }

  .buttons {
    display: none;
  }

  .tools {
    display: none;
  }

  .dropdown {
    display: none;
  }

  .imageContainer {
    background-color: transparent !important;
    background: none !important;
  }

  .selectedImgBox {
    box-shadow: none;
  }

}