html {
    height: 100%;
}

body {
    /* overflow-x: hidden; */
    /* background-image: linear-gradient(to right, red , yellow); */
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.bookContainer {
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.book {
    background-color: blue;
    width: 200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.content {
    background-color: white;
    margin: 20px;
}

.pageContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.page {
    flex-grow: 1;
    background-color: white;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.leftButton {
    background: url('../assets/leftArrow.png');
}

.rightButton {
    background: url('../assets/rightArrow.png');
}

.arrowButton {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    cursor: pointer;
    height: 50px;
    width: 60px;
}


